html {
    background: linear-gradient(to bottom right, #43CBFF, #9708CC);
    font-family: 'Open Sans', serif;
}

 ::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto;
}

.item {
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 2px;
    padding: 15px;
    margin: 3px;
}

.item p {
    width: 85%;
    margin-bottom: 0px;
}

.item a, .item p, .item div {
    color: white;
    text-decoration: none;
}

.date, .person {
    float: right;
}

.person {
    margin-top: -21px;
}

.tagsinput {
    width: calc(100% - 10px) !important;
    border: none !important;
    min-height: 0px !important;
    height: unset !important;
    background: none!important;
    font-family: 'Open Sans', serif!important;
}

.tag {
    border: 1px solid white !important;
    background: none !important;
    color: white !important;
    margin-top: 3px;
    font-family: 'Open Sans', serif!important;
}

div.tagsinput span.tag a {
    color: white;
}

.tagsFriends_tag, div.tagsinput input {
    color: rgba(255, 255, 255, 0.466)!important;
    margin-top: 3px;
}

.rightButtons {
    float: right;
    margin-right: 5px;
    margin-top: -40px;
}

#btnLoad, #btnSettings {
    border-radius: 2px;
    background: none;
    color: white;
    border: 1px solid white;
    height: 30px;
}

button#btnSettings {
    width: 30px;
}

.buffer {
    /* border: 1px solid white; */
    top: 0;
    height: 15px;
    width: 100%;
    /* position: fixed; */
    -webkit-app-region: drag;
}

div.tagsinput span.tag a {
    font-size: 13px;
}