body {
    margin: 0px 0px;
}

.item {
    background-color: cornflowerblue;
    border-radius: 2px;
    padding: 5px;
    margin: 3px;
}

.item a, .item p, .item div {
    color: white;
    text-decoration: none;
}

.date {
    float: right;
}

.tagsinput {
    width: 100% !important;
    border: none !important;
    min-height: 0px !important;
    height: unset !important;
}