html {
    /* background: linear-gradient(to bottom right, #43CBFF, #9708CC); */
    font-family: 'Open Sans', serif;
}

 ::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto;
    -webkit-transition-duration: 0.4s;
}

.item {
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 2px;
    padding: 15px;
    margin: 3px;
}

.item p {
    width: 85%;
    margin-bottom: 0px;
}

.item a, .item p, .item div {
    color: white;
    text-decoration: none;
}

.date, .person {
    float: right;
}

.person {
    margin-top: -21px;
}

.tagsinput {
    width: calc(90% - 10px) !important;
    border: none !important;
    min-height: 0px !important;
    height: unset !important;
    background: none!important;
    font-family: 'Open Sans', serif!important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 4px !important;
    margin-bottom: 15px!important;
}

.tag {
    border: 1px solid white !important;
    background: none !important;
    color: white !important;
    font-family: 'Open Sans', serif!important;
}

div.tagsinput span.tag a {
    color: white;
}

.tagsFriends_tag {
    color: rgba(255, 255, 255, 0.466)!important;
    margin-top: 3px;
}

.rightButtons {
    float: right;
    margin-right: 4px;
    margin-top: -50px;
}

#btnLoad, #btnSettings, button {
    border-radius: 2px;
    background: none;
    color: white;
    border: 1px solid white;
    height: 30px;
}

button#btnSettings {
    width: 30px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.buffer {
    top: 0;
    height: 20px;
    width: 100%;
    /* position: fixed; */
    -webkit-app-region: drag;
}

div.tagsinput span.tag a {
    font-size: 13px;
}

select:active, select:hover, button:active, button:focus {
    outline: none
}

#btnLoad:hover, button#btnSettings:hover, button:hover {
    background-color: rgba(255, 255, 255, 0.281);
}

.modalContent {
    width: 70%;
    height: 40%;
    margin-left: 15%;
    margin-top: 25%;
    border: 1px solid white;
    color: white;
    top: 0;
    position: fixed;
    border-radius: 2px;
    text-align: center;
    padding-top: 20px;
}

#settingsModal {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.jscolor {
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
    height: 24px;
}

p.modalHeader {
    padding: 5px;
    font-family: 'Open Sans', serif;
    margin: 0px;
    margin-bottom: 20px;
}

.checkboxContainer {
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
}

input[type="checkbox"] {
    display: block;
    margin-bottom: -20px;
    height: 20px;
    width: 20px;
}

p.label {
    padding: 0px;
    margin: 0px;
    margin-left: 25px;
    width: 120px;
    height: 20px;
}

.ui-widget.ui-widget-content {
    border: 1px solid white;
    width: 100px;
    background: none;
    border-radius: 2px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, .ui-state-focus {
    border: 1px solid white!important;
    background: white;
    font-weight: normal;
    border-radius: 2px;
}

.ui-slider-handle {
    outline: none;
}

#feedSize {
    float: right;
    margin-right: 8%;
    margin-top: -110px;
}

div#sliderDisplay {
    float: right;
    margin-right: 8%;
    padding-right: 40px;
    margin-top: -90px;
}

#btnLoad:active, #btnSettings:active, button:active {
    background-color: white;
}

button:hover {
    cursor: pointer;
}

.not_valid {
    background: none!important;
    height: 28px!important;
    color: white!important;
    padding: 0px!important;
    padding-left: 5px!important;
    margin: 0px!important;
    border: 1px solid red!important;
    border-radius: 2px!important;
    font-family: 'Open Sans', serif!important;
}

input#tagsFriends_tag {
    color: white!important;
    font-family: 'Open Sans', serif!important;
    padding-bottom: 0px!important;
}

div#tagsFriends_addTag {
    border: 1px solid none;
    height: 28px;
    border-radius: 2px;
    padding: 0px;
}