:root {
    --text: #fff;
    --background: rgba(0, 0, 0, .1);
    --background-one: #CE9FFC;
    --background-two: #5a4fcc;
    --corners: 3px;
    --font: 'Nunito', sans-serif;
}

@font-face {
    font-family: "MyAnimeListLogo";
    src: url("fonts/mal.ttf") format("truetype");
}

::-webkit-scrollbar {
    display: none;
}

.feather {
    height: 30px;
    margin-top: -1px;
    margin-right: 3p;
}

html {
    min-height: 100%;
    font-family: var(--font);
    user-select: none;
}

body {
    margin: 0;
    min-height: 100%;
    background-image: linear-gradient( 135deg, var(--background-one) 10%, var(--background-two) 100%);
}

::selection {
    background: var(--background);
}

nav {
    display: flex;
    margin: auto;
    width: 800px;
    padding: 0px 30px;
}

input {
    font-family: var(--font);
}

#favCanvas {
    display: none;
}

.tag-selector {
    width: 770px;
    height: auto;
    margin: auto;
    display: flex;
}

.tag-input {
    background: none;
    border: 1px solid var(--text);
    color: var(--text);
    height: 28px;
    margin-top: 15px;
    padding: 0px 5px;
}

div.tagsinput {
    margin: 15px 0px;
    min-height: 28px !important;
}

div.tagsinput span.tag {
    float: left;
    padding: 0px 10px;
    height: 28px;
    color: var(--text);
    margin-right: 5px;
    font-family: var(--font);
    font-size: 13px;
    border: 1px solid var(--text);
    line-height: 2.35;
    border-radius: var(--corners);
}

div.tagsinput span.tag a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    float: right;
    margin-top: 1.2px;
}

div.tagsinput input {
    font-size: 13px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: none;
    color: var(--text) !important;
    outline: none;
    width: 65px !important;
    height: 18px;
}

div.tagsinput div {
    display: block;
    float: left;
}

.tags_clear {
    clear: both;
    width: 100%;
    height: 0px;
}

.not_valid {
    border: 1px solid red !important;
    border-radius: var(--corners);
}

#update {
    position: absolute;
    color: var(--text);
    right: 22px;
    top: 22px;
    display: none;
}

#settings,
label,
.filter-box {
    cursor: pointer;
}

button {
    margin-top: 15px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: var(--corners);
    width: 30px;
    background: none;
    color: var(--text);
}

button:focus {
    outline: 0;
}

.settings-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 300px);
}

.settings-pane {
    position: fixed;
    min-height: 100%;
    width: 300px;
    top: 0;
    right: 0;
    background: var(--background);
    color: var(--text);
}

.settings-title {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

.settings-control {
    margin: 0px 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sliderDisplay {
    text-align: center;
    padding-bottom: 5px;
}

#feedSize {
    width: 240px;
    margin-left: 15px;
}

.filter-box {
    height: 15px;
    width: 15px;
    margin: 0;
}

.jscolor {
    width: 128px;
}

.feed-container {
    margin: auto;
    width: 800px;
    padding: 30px;
    padding-top: 0px;
}

.feed-item {
    height: 90px;
    display: grid;
    background: var(--background);
    color: var(--text);
    border-radius: var(--corners);
    grid-template-areas: "image title time" "image status user";
    grid-template-columns: 74px auto auto;
}

.feed-item+.feed-item {
    margin-top: 15px;
}

.feed-item>* {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.title,
.time {
    margin-top: 10px;
}

.image,
.image-wrapper {
    grid-area: image;
    height: 100%;
    background-size: 100%;
    height: 90px;
    width: 64px;
    border-radius: var(--corners) 0px 0px var(--corners);
}

.title {
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    grid-area: title;
}

.status {
    grid-area: status;
}

.user {
    grid-area: user;
}

.time {
    grid-area: time;
}

.status,
.user {
    margin-top: 20px;
}

.time,
.user {
    text-align: right;
}