:root {
    --text: #fff;
    --background: rgba(0, 0, 0, .1);
    --background-color: #5fa3b9;
    --corners: 3px;
    --font: 'Nunito', sans-serif !important;
}

html {
    height: 100%;
    width: 100%;
    font-family: var(--font);
}

body {
    margin: 0;
    background: var(--background-color);
}

.tag-selector {
    width: 800px;
    height: 30px;
    margin: auto;
}

.feed-container {
    margin: auto;
    width: 800px;
    padding: 30px;
}

.feed-item {
    height: 90px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background: var(--background);
    border-radius: var(--corners);
    color: var(--text);
}

.feed-item+.feed-item {
    margin-top: 30px;
}

.feed-item>* {
    margin: 0px 10px;
}

.title>a {
    text-decoration: none;
    color: inherit;
}

.title,
.time {
    margin-top: 10px;
}

.status,
.user {
    margin-top: 20px;
}

.time,
.user {
    text-align: right;
}